<style>
    .ibox-hr {
        background-color: #f8fafb !important;
        min-height: 0 !important;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @*<label class="control-label col-md-4">Archivo</label>*@
            <h1 style="text-align:left">Archivo</h1>
            <hr class="ibox-hr" />
        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-md-8">
                <input type="file" name="upload" id="inputbtn" />
            </div>
        </div>
        <br />
    </div>
</div>

