
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped" id="BuscarAdenda" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Acciones</th>
                        <th>Número de Póliza</th>
                        <th>Cliente</th>
                        <th>Número de Adenda</th>
                        <th>Tipo de Adenda</th>
                        <th>Identificacion</th>
                        <th>Producto</th>
                        <th>Aseguradora</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
