
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped" id="BuscarReclamo" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Acciones</th>
                        <th>Número de Reclamo</th>
                        <th>Tipo de Reclamo</th>
                        <th>Dependiente</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

