
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped" id="BuscarPoliza" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Acciones</th>
                        <th>Número de Póliza</th>
                        <th>Apellidos</th>
                        <th>Nombres</th>
                        <th>Identificación</th>
                        <th>Producto</th>
                        <th>Aseguradora</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>