
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped" id="BuscarTramites" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Acciones</th>
                        <th>Tipo de Trámites</th>
                        <th>Modalidad</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


