<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" style="border: solid 2px #bebebe; width: 100%;" id="DetalleRecibos">
                    <tr style="text-transform:uppercase; background-color: #eee;">
                        <th>Recibo de Prima</th>
                        <th>Número de Recibo</th>
                        <th>Fecha</th>
                        <th>Pago</th>
                        <th>Pago Neto</th>
                    </tr>
            </table>
        </div>
    </div>
</div>
