<div class="row">
    <div class="col-md-12">
            <div class="form-group">
                <label id="lblCuotas" class="control-label col-md-4">Cuota #</label>
                <div class="col-md-8">
                    <input id="NumCuotaE" name="NumCuotas" class="form-control" readonly />
                </div>
            </div>
            <br /><br />
            <div class="form-group">
                <label class="control-label col-md-4">Fecha</label>
                <div class="col-md-8">
                    <input id="tFecha" type="date" name="Fecha" class="form-control" />
                </div>
            </div>
            <br /><br />
            <div class="form-group">
                <label class="control-label col-md-4">Monto</label>
                <div class="col-md-8">
                    <input id="tMonto" type="text" name="Monto" class="form-control" />
                </div>
            </div>
            <br /><br />
            <div class="form-group">
                <label class="control-label col-md-4">Estado</label>
                <div class="col-md-8">
                    <input id="tEstado" type="text" name="Estado" class="form-control" readonly />
                </div>
            </div>
            <br />
        </div>
</div>
