<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-4">Tipo de Pago</label>
            <div class="col-md-8">
                <select id="dropPagoE" name="Pagos" class="form-control"></select>
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Fecha</label>
            <div class="col-md-8">
                <input type="date" class="form-control" name="FechaPago" id="txtFechaPE" />
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Moneda</label>
            <div class="col-md-8">
                <select class="form-control col-md-8" name="Moneda" id="txtMonedaE">
                    <option value="val1">Dólares</option>
                    <option value="val2">Córdobas</option>
                </select>
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Valor</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="Valor" id="txtValorPE" />
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Número de Documento</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="NumDoc" id="txtNumDocE" />
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Banco/Taller</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="Banco" id="txtBancoE" />
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Notas</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="Notas" id="txtNotasE" />
            </div>
        </div>
    </div>
</div>
