<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-4">Característica</label>
            <div class="col-md-8">
                <select id="dropCaract" name="Caracteristicas" class="form-control">
                </select>
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Valor</label>
            <div class="col-md-8">
                <input id="tValor" type="text" name="Valor" class="form-control" />
                @*<input id="tIdC" type="text" name="Id" />*@
            </div>
        </div>
        <br />
    </div>
</div>
