<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-4">Cobertura</label>
            <div class="col-md-8">
                <select id="dropCobert" name="Coberturas" class="form-control"></select>
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Suma asegurada</label>
            <div class="col-md-8">
                <input id="tSuma" type="text" name="Suma" class="form-control" />
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Deducible</label>
            <div class="col-md-8">
                <input id="tDeducible" type="text" name="Deducible" class="form-control" />
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Prima</label>
            <div class="col-md-8">
                <input id="tPrima" type="text" name="Prima" class="form-control" />
            </div>
        </div>
        @*<input id="tIdCo" type="text" name="Id" hidden />*@
        <br />
    </div>
</div>
