<div class="row">
    <div class="col-md-12">
        <label class="control-label col-md-4">Documento</label>
        <div class="col-md-8">
            <select id="dropDocumentoE" name="Documentos" class="form-control"></select>
        </div>
    <br /><br /><br />
    <div class="form-group">
        <label class="control-label col-md-4">Fecha</label>
        <div class="col-md-8">
            <input type="date" class="form-control" name="Fecha" id="txtFechaE" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-md-4">Emisor</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="Emisor" id="txtEmisorE" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-md-4">Número</label>
        <div class="col-md-8">
            <input type="number" class="form-control" name="Fecha" id="txtNumE" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-md-4">Valor</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="Valor" id="txtValorE" />
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <label class="control-label col-md-4">Comentarios</label>
        <div class="col-md-8">
            <input type="text" class="form-control" name="Comentarios" id="txtComentarioE" />
        </div>
    </div>
    <br /><br />
    </div>
</div>

