<div class="footer fixed">
    <div class="pull-right">
        Seguros & Más
    </div>
    <div>
        <strong>Copyright</strong> 
        &copy;
        <script>
                        document.write(new Date().getFullYear())
        </script>, Todos los Derechos Reservados.
    </div>
</div>
