<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="control-label col-md-4">Fecha</label>
            <div class="col-md-8">
                <input id="txtFecha" name="Fecha" type="date" class="form-control" />
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Número de Recibo</label>
            <div class="col-md-8">
                <input id="txtNumRecibo" name="NumRecibo" class="form-control" />
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Pago</label>
            <div class="col-md-8">
                <input id="txtPago" name="Pago" class="form-control" />
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <label class="control-label col-md-4">Pago Neto</label>
            <div class="col-md-8">
                <input id="txtPagoNeto" name="PagoNeto" class="form-control" />
            </div>
        </div>
    </div>
</div>
