<div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Nombres</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtNombre" />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Apellidos</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="txtApellido" />
                </div>
            </div>
        </div>
        <br /><br /> <br />
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Correo</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" id="txtCorreo" />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Clave</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="txtClave" />
                </div>
            </div>
        </div>
        <br /><br /> <br />
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Confirmar clave</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="txtConfClave" />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label col-md-2">Rol</label>
                <div class="col-md-10">
                    <select class="form-control" id="dropRoles"></select>
                </div>
            </div>
        </div>
        <br /><br /> <br />

    <div class="col-md-6 hidden" id="Cliente">
        <div class="form-group">
            <label class="control-label col-md-2">Cliente</label>
            <div class="col-md-10">
                <select class="form-control" id="dropClientes"></select>
            </div>
        </div>
    </div>
</div>   