@{
    ViewBag.Title = "IndexReclamos";
}

<link href="~/Content/iCheck/datepicker3.css" rel="stylesheet" />
<link href="~/Content/select2/select2.css" rel="stylesheet" />

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h1 class="text-center">Reportes de Reclamos</h1>
                </div>
                <div class="ibox-content">
                    <br />
                    <div class="row">
                        <div class="col-sm-8 b-r">
                            <div class="form-group">
                                <label>Reporte general</label>
                                <select class="form-control col-md-8" id="general">
                                    <option value="1">Listado de Reclamos</option>
                                    <option value="2">Reclamos por cliente</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Filtro</label>
                                <div class="input-daterange input-group col-md-12" id="datepicker">
                                    <input type="date" class="form-control" id="start" />
                                    <span class="input-group-addon">&nbsp; a &nbsp; </span>
                                    <input type="date" class="form-control" id="end" />
                                </div>
                            </div>
                            <div class="form-group" id="filtro2">
                                <label id="texto">Seleccione el cliente: </label>
                                <select class="form-control col-md-8" id="filtroselect"></select>
                            </div>
                            <div class="form-group">

                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <a onclick="Generar()"><i class="fa fa-file-pdf-o big-icon text-navy"></i></a>
                            <h4 onclick="Generar()">Generar reporte</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/select2/select2.full.js"></script>

    <script>
        $(document).ready(function () {
            $("#general,#filtroselect").select2({ width: "100%" });
            $("#general").change();
            $("#filtro2").hide();
            $.ajax({
                type: "GET",
                url: "/Reportes/Clientes/",
                success: function (list) {
                    var addf = "";
                    for (var i = 0; i < list.data.length; i++) {
                        addf += "<option value='" + list.data[i].Id + "'>" +  list.data[i].Ident + " | "+ list.data[i].Nombre + "</option>";
                    }
                    $("#filtroselect").append(addf);
                    $("#filtroselect").select2("val", $("#filtroselect option:first").val());
                }
            });
        });

        $("#general").change(function () {
            var valor = $(this).val();
            if (valor == 1) {//Listado de Reclamos por fechas
                $("#filtro2").hide();
            }
            else
                if (valor == 2) {//Listado de reclamos por cliente
                    $("#texto").html("Seleccione el cliente:");
                    $("#filtro2").show();
                }
        });

        function Generar() {
            var rep2 = $("#general").val();
            if (rep2 == 1) {//Lista de reclamos por fechas
                if ($("#start").val().trim() && $("#end").val().trim()) {
                    var val1 = $("#start").val();
                    var val2 = $("#end").val();
                    window.location.href = "/Reportes/ReclamosClientes?desde=" + val1 + "&hasta=" + val2;
                }
                else {
                    swal("Por favor establezca los filtros.", "Seguros & Más", "error");
                }
            }
            else
                if (rep2 == 2) {//Lista de reclamos individualmente por cliente
                    if ($("#start").val().trim() && $("#end").val().trim() && $("#filtroselect").val()) {
                        var val1 = $("#start").val();
                        var val2 = $("#end").val();
                        var id = $("#filtroselect").val();
                        window.location.href = "/Reportes/ReclamosPorCliente?desde=" + val1 + "&hasta=" + val2 + "&id=" + id;
                    } else {
                        swal("Por favor establezca los filtros.", "Seguros & Más", "error");
                    }
                }
        }
    </script>
}

